.container {
  overflow: hidden;
  z-index: 10;
  position: relative;
  height: 150px;
  width: 300px;
  background: linear-gradient(to right, rgb(154 194 255), #0047ffc9);
  border-radius: 16px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

/* BACKGROUND */
.Circle1,
.Circle2,
.Circle3 {
  position: absolute;
  border-radius: 50%;
  animation: enlarge infinite;
}

.Circle1 {
  z-index: 60;
  height: 80px;
  width: 80px;
  right: -20px;
  top: -30px;
  background-color: #5c8aff;
  animation-duration: 5s;
}

.Circle2 {
  z-index: 40;
  height: 150px;
  width: 150px;
  right: -50px;
  top: -70px;
  background-color: #6892fb;
  animation-duration: 7s;
}

.Circle3 {
  z-index: 20;
  height: 200px;
  width: 200px;
  right: -50px;
  top: -100px;
  background-color: #779cf9;
  animation-duration: 10s;
}

.dark .Circle1 {
  opacity: 0.45;
}

.dark .Circle2 {
  opacity: 0.35;
}

.dark .Circle3 {
  opacity: 0.25;
}

.content {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: #fff;
}

.content-header,
.content-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-icons {
  display: flex;
  gap: 0.5rem;
}

.cloud2 {
  width: 110px;
  max-width: 40%;
  filter: brightness(0) invert(1);
}

.content-body {
  margin-top: 0.75rem;
}

.temperature {
  font-family: "Roboto", sans-serif;
  font-size: 2.75rem;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.temperature-unit {
  font-size: 1.25rem;
  font-weight: 400;
}

.time {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.updated-label {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  align-self: flex-end;
}

@keyframes enlarge {
  50% {
    transform: scale(1.2);
  }
}

.dark .darktemp {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
}
